*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primaries */
  --colour-blue1: #2A679E;
  --colour-blue2: #6A95BB;
  --colour-blue2-hover: #5486B2;
  --colour-blue3: #6299CB;
  --colour-blue3-hover: #73A4D0;
  --colour-blue4: #3179BA;
  --colour-blue5: #7FA4C5;

  /* Greys */
  --colour-light-grey1: #E0E1E6;
  --colour-light-grey2: #C2C7CF;
  --colour-dark-grey1: #6F798D;

  --sm: 4px;
  --md: 8px;
}

body {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}