/* Clear */
.no-margin {
  margin: 0;
}

/* Small */
.ma-sm {
  margin: var(--sm);
}

.mt-sm {
  margin-top: var(--sm);
}

.mb-sm {
  margin-bottom: var(--sm);
}

.mr-sm {
  margin-right: var(--sm);
}

.ml-sm {
  margin-left: var(--sm);
}

.my-sm {
  margin-top: var(--sm);
  margin-bottom: var(--sm);
}

.mx-sm {
  margin-left: var(--sm);
  margin-right: var(--sm);
}

/* Medium */
.ma-md {
  margin: var(--md);
}

.mt-md {
  margin-top: var(--md);
}

.mb-md {
  margin-bottom: var(--md);
}

.mr-md {
  margin-right: var(--md);
}

.ml-md {
  margin-left: var(--md);
}

.my-md {
  margin-top: var(--md);
  margin-bottom: var(--md);
}

.mx-md {
  margin-left: var(--md);
  margin-right: var(--md);
}