/* Clear */
.no-padding {
  padding: 0;
}

/* Small */
.pa-sm {
  padding: var(--sm);
}

.pt-sm {
  padding-top: var(--sm);
}

.pb-sm {
  padding-bottom: var(--sm);
}

.pl-sm {
  padding-left: var(--sm);
}

.pr-sm {
  padding-right: var(--sm);
}

.py-sm {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}

.px-sm {
  padding-left: var(--sm);
  padding-right: var(--sm);
}

.pa-md {
  padding: var(--md);
}

.pt-md {
  padding-top: var(--md);
}

.pb-md {
  padding-bottom: var(--md);
}

.pl-md {
  padding-left: var(--md);
}

.pr-md {
  padding-right: var(--md);
}

.py-md {
  padding-top: var(--md);
  padding-bottom: var(--md);
}

.px-md {
  padding-left: var(--md);
  padding-right: var(--md);
}